.is-noscroll {
    pointer-events: none;
    height: 100%;
    overflow: hidden;

    .header,
    .main-nav,
    .top {
        pointer-events: auto;
    }
}

.header {
    min-height: $desktop-header-height;
    background-color: $brand-color;
    padding: 15px 0;
    position: relative;
    z-index: 200;

    .header-top {
        border-bottom: 1px solid #979797;
    }

    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @include until($tablet) {
        min-height: $mobile-header-height;
    }

    img {
        display: block;
    }
}
